<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.store.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilterForAdmin</filter-name>
        <filter-class>com.store.LoginFilterForAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilterForAdmin</filter-name>
        <url-pattern>/admin/addProduct.jsp</url-pattern>
        <url-pattern>/admin/dispalyUsers.jsp</url-pattern>
        <url-pattern>/admin/dispalyProducts.jsp</url-pattern>
        <url-pattern>/admin/response.jsp</url-pattern>
        <url-pattern>/admin/signin.html</url-pattern>

    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/reviews.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.store.handleListenerContext</listener-class>
    </listener>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.mycompany.techstore2.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleInitServer</servlet-name>
        <servlet-class>com.store.HandleInitServer</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>validateAddProduct</servlet-name>
        <servlet-class>handleValidationToDB.validateAddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateEditProduct</servlet-name>
        <servlet-class>handleValidationToDB.validateEditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateDeleteProduct</servlet-name>
        <servlet-class>handleValidationToDB.validateDeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateUserLogin</servlet-name>
        <servlet-class>handleValidationToDB.validateUserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateAdminLogin</servlet-name>
        <servlet-class>handleValidationToDB.validateAdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateDisplayProduct</servlet-name>
        <servlet-class>handleValidationToDB.validateDisplayProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validateDisplayUsers</servlet-name>
        <servlet-class>handleValidationToDB.validateDisplayUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registeration</servlet-name>
        <servlet-class>registerHandling.Registeration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneValid</servlet-name>
        <servlet-class>registerHandling.PhoneValid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartHandling</servlet-name>
        <servlet-class>cartHandling.CartHandling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>com.store.LogoutUser</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>UpdateQuantity</servlet-name>
        <servlet-class>cartHandling.UpdateQuantity</servlet-class>

        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>com.store.LogoutAdmin</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleInitServer</servlet-name>
        <url-pattern>/HandleInitServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateAddProduct</servlet-name>
        <url-pattern>/validateAddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateEditProduct</servlet-name>
        <url-pattern>/validateEditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateDeleteProduct</servlet-name>
        <url-pattern>/validateDeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateUserLogin</servlet-name>
        <url-pattern>/validateUserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateAdminLogin</servlet-name>
        <url-pattern>/validateAdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateDisplayProduct</servlet-name>
        <url-pattern>/validateDisplayProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateDisplayUsers</servlet-name>
        <url-pattern>/validateDisplayUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registeration</servlet-name>
        <url-pattern>/Registeration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneValid</servlet-name>
        <url-pattern>/PhoneValid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartHandling</servlet-name>
        <url-pattern>/CartHandling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/LogoutUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>UpdateQuantity</servlet-name>
        <url-pattern>/UpdateQuantity</url-pattern>

        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>

    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
