<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServ</servlet-name>
        <servlet-class>com.store.TestServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>salma</servlet-name>
        <servlet-class>com.store.salma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleInitServer</servlet-name>
        <servlet-class>com.store.HandleInitServer</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>validateAddProduct</servlet-name>
        <servlet-class>handleValidationToDB.validateAddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServ</servlet-name>
        <url-pattern>/TestServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleInitServer</servlet-name>
        <url-pattern>/HandleInitServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validateAddProduct</servlet-name>
        <url-pattern>/validateAddProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
